@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6ec6ff, #4ba3ff);
    height: 100vh;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    max-width: 1500px;
}

.weatherToday {
    width: 70%;
    text-align: center;
    background: white;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.svg {
    display: flex;
}


h1 {
    font-family: 'Outfit';
    font-size: 100px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Outfit';
    margin: none;
}

.search-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.search-bar input {
    padding: 20px;
    border-radius: 50px 50px 50px 50px;
    margin-right: 10px;
    border: none;
    font-size: 20px;
    width: 100%;
    
}

.search-bar button {
    color: white;
    padding-inline: 20px;
    background-color: rgb(0, 106, 130); 
    border: none;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    height: 100%;
}

.search-bar button:hover {
    border: white;
    border-radius: 20px 20px 20px 20px;
}

.search-bar button i {
    color: #4ba3ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-colum {
    width: 20%;
}

th {
    width: fit-content;
    text-align: center;
    font-size: 20px;
}



table td {
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

#error {
    color: red;
    font-size: 20px;
    font-family: 'Outfit';
}

footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0c;
    margin-top: 30px;
}

/* MEDIA QUERIES*/
@media (max-width: 1300px){
    .weatherToday {
        width: 90%;
    }

    .search-wrapper {
        width: 100%;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 70px;
    }

    .weatherToday {
        width: 60%;
    }

    .search-wrapper {
        width: 100%;
    }

    th {
        display: none;
    }

    td {
        display: block;
    }


}

@media (max-width: 500px) {
    h1 {
        font-size: 50px;
    }

    .weatherToday {
        
    }
}